.category-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e6f5fa;
    width: 85%;
    height: 50px;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -2px 3px 13px -5px rgba(0, 0, 0, 0.76);
}

.item-default {
    display: flex;
    justify-content: center;
    width: 100%;
}

.circle-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61b1c2;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
}

.identity-item {
    display: flex;
    align-items: center;
    width: 40%;
}

.qtt-products {
    text-align: center;
    color: #049DBF;
    font-weight: bold;
    font-size: 13.5px;
    width: 20%;
    align-items: center;
}

.container-commands {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.btn-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 25px;
    background-color: #e6f5fa;
}

.btn-item img {
    width: 20px;
}


.btn-item:hover {
    cursor: pointer;
}