.container-show-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    margin-top: 50px;
}

.category-strong {
    color: #049DBF;
}