@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=DM+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}

body {
  font-family: 'DM Sans', sans-serif, Arial, Helvetica, sans-serif;
  color: #4A4B4C;
  height: 100vh;
}

.container-main {
  display: flex;
  justify-content: right;
}

.default-title {
  font-size: 34px;
}

.default-subtitle {
  font-size: 15px;
}

.text-field {
  background-color: #ddf2f6;
  ;
  font-size: 12px;
  width: 70%;
  height: 36px;
  border-radius: 50px;
  padding: 0 20px 0 20px;
  margin: 7.5px;
}

.divider-page {
  width: 70%;
  margin: 10px 0;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100vh;
  background-color: #049DBF;
}

.side-message {
  display: flex;
  align-items: center;
  width: 80%;
  height: 85px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}