.botao-azul {
    background-color: #049DBF;
    font-size: 14px;
    font-weight: 700;
    width: 28%;
    height: 34px;
    margin: 2%;
    color: #fff;
    border-radius: 50px;
    box-shadow: 1px 5px 6px -3px rgba(0, 0, 0, 0.65);
    transition: 0.7s;
}

.botao-azul:hover {
    background-color: #04aacc;
    cursor: pointer;
    box-shadow: none;
    transition: 0.7s;
}